[submodule "lib/RTIMULib2"]
	path = lib/RTIMULib2
	url = https://github.com/OpenHD/RTIMULib2.git
[submodule "lib/Mavlink/mavlink"]
	path = lib/Mavlink/mavlink
	url = https://github.com/mavlink/mavlink.git
